<h1>Tenants</h1>
<h3><a href="/"> Return to Welcome page</a></h3>

<h2><a href='/tenants/new'>New tenant</a></h2>

<% @tenants.each do |tenant| %>
  <h3><a href="/tenants/<%= tenant.id %>"><%= tenant.name %></a></h3>
  <h5><a href="/tenants/<%= tenant.id %>/edit">Edit tenant</a></h5>
  <form action="/tenants/<%= tenant.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete tenant"/>
  </form>
  <br>

<% end %>
