<p><a href="/tenants"> Tenant listing page</a></p>
<p><a href="/apartments"> Apartment listing page</a></p>

<h3>Tenant name: <%= @tenant.name %> </h3>
<p>Age: <%= @tenant.age %></p>
<p>Tenant on rent strike: <%= @tenant.on_strike %></p>
<p>created at: <%= @tenant.created_at %></p>
<p>updated at: <%= @tenant.updated_at %></p>
<a href="/tenants/<%= @tenant.id %>/edit">Update Tenant</a>
<form action="/tenants/<%= @tenant.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete tenant"/>
</form>
