
<h2>Tenant name: <%= @tenant.name %> </h2>
<h2>Tenant age: <%= @tenant.age %></h2>
<h2>created at: <%= @tenant.created_at %></h2>
<h2>updated at: <%= @tenant.updated_at %></h2>
<a href="/tenants/<%= @tenant.id %>/edit">update tenant</a>
<form action="/tenants/<%= @tenant.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete tenant"/>
</form>

<h1><a href="/tenants"> tenants</a></h1>
