
<h2> Tenant name: <%= @tenant.name %> </h2><br>
<h2>Tenant age: <%= @tenant.age %></h2><br>
<h2>Number of units: <%= @tenant.units %></h2><br>
<h2>created at: <%= @tenant.created_at %></h2><br>
<h2>updated at: <%= @tenant.updated_at %></h2><br>
<a href="/tenants/<%= @tenant.id %>/edit">Edit</a>

<h1><a href="/tenants"> tenants</a></h1>
