<h1><%= @location.city%> Climbing Gym members</h1>
<h5><a href="/locations">Return to all locations</a></h5>

<%= form_with url: "/locations/#{@location.id}/members", method: :get, local: true do |form| %>
  <%= form.label :Only_return_records_with_more_than  %>
  <%= form.number_field :number_of_people_in_membership %>
  <%= form.submit 'Submit' %>
<% end %>

<%= link_to 'alphabetize', "/locations/#{@location.id}/members?sort_param=alphabetize" %>

<br>
<%= link_to 'clear filter', "/locations/#{@location.id}/members" %>

<% @members.each do |member| %>
  <h2>Primary Member: <%= member.primary_member %></h2>
  <p>Monthly membership? <%= member.monthly_membership %></p>
  <p># of ppl in membership: <%= member.people_in_membership %></p>
  <a href="/members/<%= member.id %>/edit">Update Member</a>
  <form action="/members/<%= member.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Member"/><br>
  </form>
<% end %>



<br><br>
<a href="/locations/<%= @location.id %>/members/new">Create Member</a>

<br>
<h5><a href="/"> Return to Welcome page</a></h5>
