<% flash.each do |name, msg| %>
  <h2><%= msg %></h2>
<% end %>
<p><a href="/"> Return to Welcome page</a></p>

<%= form_with url: "/apartments/#{@apartment.id}/tenants", method: :get, local: true do |form| %>
  <%= form.label :Only_return_records_of_tenants_older_than  %>
  <%= form.number_field :tenant_age %>
  <%= form.submit 'Submit' %>
<% end %>

<%= link_to 'alphabetize', "/apartments/#{@apartment.id}/tenants?sort_param=alphabetize" %>

<%= link_to 'clear filter', "/apartments/#{@apartment.id}/tenants" %>

<h3><%= @apartment.name %>'s Tenants</h3>

<% @tenants.each do |tenant| %>
  <p><a href="/tenants/<%= tenant.id %>"><%= tenant.name %></a></p>
  <p>Age: <%= tenant.age %></p>
  <p>On Strike? <%= tenant.on_strike %></p>
  <p><a href="/tenants/<%= tenant.id %>/edit">Edit tenant</a></p>

  <form action="/tenants/<%= tenant.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete tenant"/>
  </form>
  <br>
  <br>
<% end %>

<p><a href="/apartments/<%= @apartment.id %>/tenants/new">Create tenant</a><p>
