<h1><%= @apartment.name %>'s Tenants</h1>
<h3><a href="/"> Return to Welcome page</a></h3>


<% @tenants.each do |tenant| %>
  <h3><a href="/tenants/<%= tenant.id %>"><%= tenant.name %></a></h3>
  <p>Age: <%= tenant.age %></p>
  <br>
  <br>
<% end %>

<h3><a href="/apartments/<%= @apartment.id %>/tenants/new">Create tenant</a></h3>
