<p><a href="/tenants"> Tenant listing page</a></p>
<p><a href="/apartments"> Apartment listing page</a></p>

<p>Enter new tenant info:</p>

<%  if @tenant.errors.any? %>
  <h3> The following errors prevented the tenant from being saved</h3>
  <ul>
    <% @tenant.errors.full_messages.each do |message|  %>
    <li><%= message %></li>
    <% end  %>
  </ul>
<% end  %>


<form action="/apartments/<%= @apartment.id %>/tenants" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p> Name<input type='text' name='tenant[name]'/></p>
  <p> Age<input type='number' name='tenant[age]'></p>
  <p>Apartment Building ID<input type='text' name='tenant[apartment_id]' value='<%= @apartment.id %>'></p>
  <p>On strike?<input type='checkbox' name='tenant[on_strike]'></p>
  <input type='submit' value='Create new tenant'/>
</form>
<br>

<p><a href="/apartments/<%= @apartment.id %>/tenants"> Cancel and return to <%= @apartment.name %> tenants</a></p>
