<h1>Apartments</h1>
<h3><a href="/"> Return to Welcome page</a></h3>
<p><a href="/tenants"> Tenant listing page</a></p>
<h2><a href='/apartments/new'>New Apartment</a></h2>
<br>



<% @apartments.each do |apartment| %>
  <p><a href="/apartments/<%= apartment.id %>"><%= apartment.name %></a></p> <p><a href="/apartments/<%= apartment.id %>/edit">Edit</p>
    <form action="/apartments/<%= apartment.id %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="delete"/>
    </form>
  <br>
<% end %>
