
<h1> Apartment name: <%= @apartment.name %> </h1><br>
<h2>Apartment age: <%= @apartment.years_old %></h2><br>
<h2>Number of units: <%= @apartment.units %></h2><br>
<h2>Luxury Apartments: <%= @apartment.luxury %></h2><br>
<br>






<h1><a href="/apartments"> Apartments listing</a></h1>
<h1><a href="/apartments/<%= @apartment.id%>/tenants"> <%= @apartment.name%>'s tenants</a></h1>


<form action="/apartments/<%= @apartment.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete"/>
</form>
<a href="/apartments/<%= @apartment.id %>/edit">Update Apartment</a>
