<p><a href="/apartments"> Apartment listing page</a></p>
<p><a href="/tenants"> Tenant listing page</a></p>
<p><a href="/apartments/<%= @apartment.id%>/tenants"> <%= @apartment.name%>'s tenants</a></p>

<h3> Apartment name: <%= @apartment.name %> </h3>
<p>Number of tenants: <%= @apartment.tenant.count %></p>
<p>Apartment age: <%= @apartment.years_old %></p>
<p>Number of units: <%= @apartment.units %></p>
<p>Luxury Apartments: <%= @apartment.luxury %></p>
<br>








<form action="/apartments/<%= @apartment.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Apartment"/>
</form>
<a href="/apartments/<%= @apartment.id %>/edit">Update Apartment</a>
