
<h2> Apartment name: <%= @apartment.name %> </h2><br>
<h2>Apartment age: <%= @apartment.age %></h2><br>
<h2>Number of units: <%= @apartment.units %></h2><br>
<h2>created at: <%= @apartment.created_at %></h2><br>
<h2>updated at: <%= @apartment.updated_at %></h2><br>
<a href="/apartments/<%= @apartment.id %>/edit">Edit</a>

<h1><a href="/apartments"> Apartments</a></h1>
