<h5><a href="/locations">Return to all locations</a></h5>
<h5><a href="/members">Return to all members</a></h5>

<h1><%= @location.city %></h1>
<p><%= @location.square_footage %> Square footage</p>
<p>Does it have a lead wall? <%= @location.lead_wall %></p>
<p>Number of members: <%= @location.member_count %></p>

<a href="/locations/<%= @location.id %>/edit">Update Location</a>

<form action="/locations/<%= @location.id %>" method="POST" >
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Location"/>
</form>

<br>
<h4><a href="/locations/<%= @location.id%>/members"> <%= @location.city%>'s members</a></h4>
