<h1>All Members</h1>
<h5><a href="/locations">Return to All Locations</a></h5>

<br>
<% @members.each do |member| %>
  <h2><a href="/members/<%= member.id %>"><%= member.primary_member %></a></h2>
  <a href="/members/<%= member.id %>/edit">Update Member</a>
  <form action="/members/<%= member.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete member"/><br>
  </form>
<% end %>

<br><br>
<h3><a href='/members/new'>New member </a></h3>

<br>
<h5><a href="/"> Return to Welcome page</a></h5>
