<h5><a href="/locations">Return to All Locations</a></h5>
<h5><a href="/members">Return to all members</a></h5>

<h2>Primary member: <%= @member.primary_member %></h2>
<p>Monthly membership? <%= @member.monthly_membership %></p>
<p># of ppl in membership: <%= @member.people_in_membership %></p>


<a href="/members/<%= @member.id %>/edit">Update Member</a>



  <form action="/members/<%= @member.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete member"/>
  </form>
